#about {
    padding: 50px 0;
    background-color: #F1F1F1;

    h1 {
        margin-bottom: 50px;
        color: #152D41;
        font-size: 36px;
        font-weight: bold;
        text-align: center;
    }

    .about-employee {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 18px;
        text-align: justify;



        .about-img {
            img {
                max-width: 150px;
                height: auto;
                border-radius: 50%;
                margin: 0 15px;
            }

        }

        .about-desc {
            h3 {
                margin-bottom: 15px;
                font-weight: bold;
            }
        }

        &:nth-child(odd) {
            flex-direction: row-reverse;

            .about-desc {
                text-align: right;
            }
        }
    }
}

.app-modal {
    position: fixed;
    z-index: 10000;
    display: flex;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    justify-content: center;
    align-items: center;

    .app-modal-bg {
        background: rgba(0, 0, 0, 0.3);
        display: block;
        width: 100%;
        height: 100%;
        z-index: 10001;
        position: fixed;
    }

    .app-modal-inner {
        background: #fff;
        min-width: 500px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        z-index: 10002;


        .app-modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            margin-bottom: 20px;
            padding: 20px;
            background: #eee;

            .app-modal-title {}

            .app-modal-close {}
        }

        .app-modal-content {
            margin-bottom: 20px;
            padding: 0 20px 20px;

        }

        .app-modal-footer {
            padding: 20px;
            background: #eee;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .app-modal-footer-btn {}

        }


    }
}

.app-side-menu{
    position:fixed;
    top:0;
    left:0;
    width:250px;
    height: 100%;
    background:#fff;
    display:flex;
    justify-content:flex-end;
    .app-side-menu-inner{
        padding:20px;
        width:100%;
        .app-side-menu-list{
            li{
                padding:10px;
            }
        }


    }


}